{% extends "base.html" %}

{% block content %}
<h1>Что такое bitcoin?</h1>
<p>
    В самом общем понимании, биткоин — это программное обеспечение, формирующее децентрализованную пиринговую (peer-to-peer, P2P) платежную систему, которая не контролируется каким-либо центральным органом вроде Федерального Резерва или Казначейства США. Называть ее цифровой валютой или криптовалютой корректно, но на данный момент большинство инвесторов не используют ее для оплаты реальных вещей. Вместо этого криптовалюту рассматривают как рискованную инвестицию и вкладывают в нее средства в надежде получить прибыль. Может быть, большую прибыль. (Или, возможно, понести большие убытки).
</p>
<h1>На что опирается биткоин?</h1>
<p>Биткоин работает на чем-то под названием «блокчейн». Эта программная система часто описывается как неизменный цифровой «гроссбух». Он находится на тысячах компьютеров по всему миру и поддерживается одновременно и рядовыми пользователями, и более опытными экспертами, известными как «майнеры». Джаред Бликр из Yahoo Finance развлекался майнингом биткоинов, запуская программы для добычи криптовалюты в фоновом режиме на своем ноутбуке. И вот сколько биткоинов ему удалось сгенерировать на сегодняшний день: 0.000000071589. С текущей скоростью ему понадобится 1200 лет, чтобы намайнить один целый биткоин. Это даст вам понимание степени сложности добычи биткоинов и того, сколько вычислительной мощности требует процесс: эти компьютеризированные «буровые установки» выделяют столько энергии, что могут отапливать ваш дом.

Все транзакции с использованием биткоинов постоянно регистрируются майнерами, которые загружают пакеты транзакций, или «блоки», в цепочку, поддерживаемую на всех компьютерах. Блокчейн как технология стала популярной среди банков и других крупных финансовых учреждений, которые хотят использовать ее для обработки платежей в собственных бэкенд-системах. Но они заинтересованы главным образом в блокчейне (без биткоина).  </p>

<h1>Кто всем заправляет?</h1>
<p>Биткоин децентрализован, а это значит, что единого владельца, центральной партии или институции, которые бы всем заведовали и за все отвечали, не существует. Блоки транзакций проверяются в сети блокчейна путем вычисления «консенсуса». Консенсус — это особенность программного обеспечения. Биткоин был разработан в 2009 году кем-то, кто скрывается под псевдонимом Сатоши Накамото (Satoshi Nakamoto). Но неизвестно, кто он такой, и этот человек (или группа людей) сегодня биткоин не контролирует.</p>

<h1>Это мошенничество?</h1>
<p>Это не мошенничество, если понимать под аферой ситуацию, когда кто-то пытается сбыть поддельный или фиктивный товар. Биткоин — реальная технология. Вопрос в том, насколько полезной и ценной она станет.</p>

<h1>Как его покупать и продавать?</h1>
<p>Сейчас есть множество простых обменных бирж, где можно купить биткоин, переведя средства с банковского счета, а иногда и с кредитной карты. Самый популярный вариант — сервис Coinbase, у которого на сегодня уже более 13 миллионов пользователей. Другой вариант — Kraken.</p>


{% endblock %}