{% extends "base.html" %}

{% block header %}<link rel="stylesheet" href="./static/style.css">{% endblock %}

{% block content %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_7472b"></div>
  <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/USDTRUB/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">Курс USDTRUB</span></a> от TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "USDT",
      "BINANCE:USDTRUB|12M"
    ]
  ],
  "chartOnly": false,
  "width": "1000",
  "height": "500",
  "locale": "ru",
  "colorTheme": "dark",
  "gridLineColor": "rgba(42 ,46, 57, 0)",
  "fontColor": "#787B86",
  "isTransparent": false,
  "autosize": false,
  "showVolume": false,
  "scalePosition": "no",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "noTimeScale": false,
  "valuesTracking": "1",
  "chartType": "line",
  "container_id": "tradingview_7472b"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
{% endblock %}