{% extends "base.html" %}

{% block header %}<link rel="stylesheet" href="./static/style.css">{% endblock %}

{% block content %}
<!-- TradingView Widget BEGIN -->

<div class="tradingview-widget-container">
  <div id="tradingview_83f77"></div>
  <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/USDTRUB/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">Курс USDTRUB</span></a> от TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "USDTRUB",
      "BINANCE:USDTRUB|12M"
    ]
  ],
  "chartOnly": false,
  "width": 1000,
  "height": 500,
  "locale": "ru",
  "colorTheme": "dark",
  "gridLineColor": "rgba(42 ,46, 57, 0)",
  "fontColor": "#787B86",
  "isTransparent": false,
  "autosize": false,
  "showVolume": true,
  "scalePosition": "no",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "noTimeScale": false,
  "valuesTracking": "1",
  "chartType": "line",
  "container_id": "tradingview_83f77"
}
  );
  </script>
</div>

  <h1>Информация о Tether:</h1>
  <p>Само название Tether впервые было присвоено стейблкоину USDT от одноименного эмитента – Tether Limited. Со временем эта же компания выпустила еще несколько активов, чтобы привязать их к другим фиатным валютам:

Японская иена (JPYT).

Евро (EURT).

Оффшорный китайский юань (CNHT).

Золотой токен (XAUT) – эквивалент одной тройской унции золота.

Но именно токен, привязанный к доллару, стал самым популярным стейблкоином в мире. Поэтому в криптовалютном сообществе под словом Tether в большинстве случаев понимается именно USDT.

Стоит учитывать, что данный актив – это не то же самое, что доллар. Его основная цель заключается в том, чтобы упростить торговлю цифровыми валютами, а также передачу финансовых средств между пользователями.</p>
</div>
{% endblock %}
<!-- TradingView Widget END -->